*{
    font-family: 'Kanit', sans-serif;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 30vh;
}
h1{
    position: absolute;
    font-size: 20vh;
    margin: 0;
    color: rgb(221, 221, 221);
    user-select: none;
}
#particles-js{
    height: 30vh;
    width: 100%;
    z-index: 1;
}
